* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

.menubar {
  background: #2a2a2a;
  text-align: center;
}

.menubar ul {
  display: inline-flex;
  color: #f9f9f9;
  list-style: none;
}

.menubar ul li {
  padding: 15px;
}

.menubar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.active,.menubar ul li a:hover {
  background-color: rgb(73, 76, 74);
  color: #a2a2a2;
}

.sub-menu-one {
  display: none;
}

.menubar ul li:hover .sub-menu-one {
  display: block;
  position: absolute;
  background: #313131;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 2px 2px #888686;
}

.menubar ul li:hover .sub-menu-one ul {
  display: block;
}

.menubar-2 {
  background-color: rgb(74, 172, 74);
  padding: 15px;
}

.menubar-2 ul {
  display: flex;
  gap: 30px;
  list-style: none;

  h3{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
}

.menubar-2 ul li a {
  text-decoration: none;
  color: #fff;
  font: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;

  &:hover {
    background-color: rgb(93, 128, 93);
    padding: 10px;
  }
}

.fa {
  color: #fff;
}

.sub-menu-two {
  display: none;
}

.menubar-2 ul li:hover .sub-menu-two {
  display: flex;
  position: absolute;
  background-color: rgb(63, 127, 63);
  box-shadow: 0 5px 2px 2px rgb(141, 171, 141);
  padding: 30px;
  left: 0;
  width: 100%;
  justify-content: space-around;
  border-radius: 15px;
  margin-top: 15px;

}

.menubar-2 ul li:hover .sub-menu-two ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

